[Unit]
  Description=gilt
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/gilt server -config "/var/lib/gilt-exec/config.toml"
  Type=simple
  KillSignal=SIGINT
  User=gilt
  TimeoutStopSec=120

[Install]
  WantedBy=multi-user.target
