[Unit]
  Description=gilt
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/gilt bootnode -node-key /var/lib/gilt-exec/data/gilt/nodekey -listen-addr "0.0.0.0:30303" -verbosity 3
  Type=simple
  KillSignal=SIGINT
  User=gilt
  TimeoutStopSec=120

[Install]
  WantedBy=multi-user.target
