[submodule "child-contracts"]
	path = child-contracts
	url = https://github.com/giltchain/contracts.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
